@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:
   #f2f5f5 ;
}

h6{
    color: #a51515;
    font-size: 14px;
    font-family: 'Bebas Neue', cursive;
}

.main{
    display: inline-block;
    border: 1px solid red;
}

input{
    color:#a51515 ;
    padding: 17px;
    outline: none;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    border-radius: 5px;
}

.nummain{
   width: 12.2%;
   height: 66px;
   border-radius: 22px;
}

.nummain:hover{
    background-color:rgb(212, 208, 208) ;
}

.textview, .textreset{
    width: 31%;
    border-radius: 22px;
    letter-spacing: 5px;
    text-align: right;
    margin-bottom: 2%;
}

.textreset{
    width: 5%;
    height: 26px;
    text-align: center;
    border-radius: 50%;
    letter-spacing: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #a51515;
    color: white;
    outline: none;
}

.numdiv, .numtimes, .numsub, .numplus, .numequal{
    width: 12.2%;
    
    border-radius: 22px;
    padding: 14px;
}

.numequal{
    color: white;
    background-color: #a51515;
}
